<div id="complete" class="story-panel">
</div>
<div id="current" class="story-panel">
</div>
<div id="backlog" class="story-panel">
</div>
<div id="view-story" class="story-panel">
</div>


<script>
  $(function(){
    $complete = $("#complete")
    $current = $("#current")
    $backlog = $("#backlog")
    $view = $("#view-story")
    var stories = <%= @stories.to_json.html_safe %>
    TA.initialize($complete, $current, $backlog, stories);
  });
</script>