<div class="panel-title">
  Complete
</div>
<div class="panel-title">
  Current
</div>
<div class="panel-title">
  Backlog
</div>
<div class="panel-title">
  Action
</div>

<div id="complete" class="story-panel">
</div>
<div id="current" class="story-panel">
</div>
<div id="backlog" class="story-panel">
</div>
<div id="view-story" class="story-panel">
</div>
<div id="chart-view">
</div>

<script>
  $(function(){
    var $complete = $("#complete");
    $current = $("#current");
    $backlog = $("#backlog");
    $view = $("#view-story");
    var stories = <%= @stories.to_json(:include => [:story_type, :tags]).html_safe %>;
    TA.initialize($complete, $current, $backlog, stories);
  });
</script>