<div id="backlog-items">
<% backlogStories.each(function(story){ %>
  <div class="" data-id='<%= story.id %>'>
    <a href='#/main' class='story-title'><%= story.escape('title') %></a>
  </div>
<% }) %>
</div>

<script>
$("#backlog-items").sortable({
  connectWith: ["#completed-items"],
  update: function(event, ui){
    console.log("ASDASD")
    ui.item.trigger('dropbacklog', ui.item.index());
    
  }
})
</script>