
<% stories.each(function(story){ %>
  <div data-id='<%= story.id %>' class="single-story">
    <a href='#/main' data-id='<%= story.id %>' class='story-title'><%= story.escape('title') %></a>
  </div>
<% }) %>


