<div id="current-items">
Current:
<br>
Velocity: <%= totalPoints %>
<% stories.each(function(story){ %>
  <div data-id='<%= story.id %>'>
    <a href='#/main' data-id='<%= story.id %>' class='story-title'><%= story.escape('title') %></a>
  </div>
<% }) %>
</div>

<script>
$("#current-items").sortable({
  connectWith: ["#completed-items", "#backlog-items"],
  update: function(event, ui){
    console.log("QQQQQQ")
    ui.item.trigger('dropcurrent', ui.item.index());
  }
})
</script>