<div>
  <div id="new-error-messages">
  </div>
  <form action="/stories" method="POST" id="story-form">
    <label> Title:<br>
      <input type="text" name="title" class="story-input">
    </label>
    <label> Description:<br>
      <input type="text" name="description" class="story-input">
    </label>
    <label> Type: <br>
      <select name="story_type_id" class="story-input">
        <option value="1">Feature</option>
        <option value="2">Bug</option>
        <option value="3">Chore</option>
      </select>
    </label>
    <label> Points:
      <input type="number" name="points" class="story-input">
    </label>
    <label> Tags:<br>
      <input type="text" name="tags" id="tag-input">
    </label>
    <div id="tag-area">
    </div>
    <input type="hidden" name="story_status_id" value="1" class="story-input">

    <input type="submit" value="Create" id="story-submit">
  </form>
  <input type="button" value="Cancel" id="cancel">
</div>