<div>

  <a href="#/main" class='new-story'>New Story</a>
  <% if(story) {%>
    <form action="/stories" method="POST" id="story-update-form">
      Title: <input type="text" name="title" class="story-input" value='<%= story.escape("title")%>' >
      Description: <input type="text" class="story-input" name="description" value='<%= story.escape("description")%>' >
      Type: 
        <select name="story_type_id" class="story-input">
          <option value="1" <% if(story.escape("story_type_id")==="1"){ %> selected <%}%> >Feature</option>
          <option value="2" <% if(story.escape("story_type_id")==="2"){ %> selected <%}%> >Bug</option>
          <option value="3" <% if(story.escape("story_type_id")==="3"){ %> selected <%}%> >Chore</option>
        </select>
        <input type="submit" value="Submit" id="story-submit">
    </form>
    <input type="button" value="Cancel" id="cancel">
  <% } else { %>
    Double Click a Story to view its details
  <% } %>
</div>