<div>
  <div id="update-error-messages">
  </div>
  <form action="/stories" method="POST" id="story-update-form">
    Title: <br><input type="text" name="title" class="story-input" value='<%= story.escape("title")%>' >
    Description: <br><input type="text" class="story-input" name="description" value='<%= story.escape("description")%>' ><br>
    Type: <br>
      <select name="story_type_id" class="story-input">
        <option value="1" <% if(story.escape("story_type_id")==="1"){ %> selected <%}%> >Feature</option>
        <option value="2" <% if(story.escape("story_type_id")==="2"){ %> selected <%}%> >Bug</option>
        <option value="3" <% if(story.escape("story_type_id")==="3"){ %> selected <%}%> >Chore</option>
      </select>
    Points:
      <input type="number" name="points" class="story-input" value='<%= story.escape("points")%>'> <br>
    Tags: 
      <% story.get("tags").each(function(tag){ %>
        <span class='label label-info tag-label'><%= tag.escape("name") %></span>
      <% }) %>
      <br>
      <input type="submit" value="Update" id="story-submit">
  </form>
  <input type="button" value="Cancel" id="cancel">
  <input type="button" value="Delete" id="delete">

</div>