.container {
  margin-top: 100px;
  width: 1150px;
}

.story-panel {
  min-height: 600px;
  width: 260px;
  float:left;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #45aeea;
  margin-right: 3px;
  margin-left: 3px;
  padding-right: 3px;
  padding-left: 3px;
  background-color: #E8E8E8;
}

.panel-title {
  margin-left: 2px;
  font-weight: bold;
}

.story-title:hover{
  text-decoration: none; 
}

.single-story {
  position:relative;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: white;
  width: 248px;
  padding: 5px 5px 5px 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #B6B6B6;
}

.story-action{
  position: absolute;
  margin-top: 2px;
  right: 18px;
  top: 3px;
  width: 37px;
}

.story-link{
  width: 193px;
}